---
import Header from "../components/header.astro";
import Main from "../components/main.astro";
import Contact from "../components/Contact.astro";
import About from "../components/About.astro";

---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<Header/>
	<Main/>
	<About/>

	<Contact/>

</body>
</html>



<style>
	*{
		box-sizing: border-box;
		margin: 0px;
		font-family: 'Times New Roman', Times, serif;
	}
</style>