<div class="about">
    <h2 class="about_h2">SOBRE MI</h2>
    <div class="details_about">
        <p class="about_description">
            Bienvenido a compuEliseo, donde soy Eliseo Quillas, el fundador y único experto en reparación de computadoras. Con una pasión por la tecnología y años de experiencia, estoy comprometido a brindarte un servicio personalizado y eficiente. Mi objetivo es optimizar el rendimiento de tu computadora y garantizar tu satisfacción. Descubre la diferencia de un servicio informático centrado en ti y confía en mi experiencia para resolver tus necesidades tecnológicas."
        </p>
        <figure>
            <img class="about_img" src="./computer_about.jpg" alt="">
        </figure>

    </div>
</div>

<style>
    .about{
        min-height: 100vh;
        
    }
    .about_h2{
        font-size: 3rem;
        text-align: center;
        margin:60px;
    }
    .details_about{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about_description{
        max-width: 400px;
        font-size: 1.2rem;
    }
    .about_img{
        max-width: 400px;
    }
</style>
