<div class="contact">
    <h2 class="contact_title">CONTACTAME</h2>
    <div>
        <div class="details_contact">
            <div class="contact_number">927859435</div>
            <div class="contact_number_copy">copiar</div>
        </div>
        <div class="details_contact">
            <div class="contact_number">eliseo@gmail.com</div>
            <div class="contact_number_copy">copiar</div>
        </div>

    </div>
</div>



<style>
.contact{
    width:100%;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;

}
.contact_title{
    color:white;
    font-size: 4rem;
    text-align: center;
    /* background-color: red; */
}
.contact_number{
    color:white;
    font-size: 3rem;
    border:1px solid white;
    padding: 20px;
    border-radius: 20px;
}
.details_contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    /* background-color: green; */
    max-width: 700px;
    flex-grow: 1;
    margin: 0px auto 2rem auto;
    gap: 20px;
}
.contact_number_copy{
    border:none;
    background-color:   #bbe2ff;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    text-align: end;
}
</style>