<div class="header">
    <div class="header_boxTitle">
    <strong class="header_boxTitle-title"> CompuEliseo</strong>
    </div>
    <ul class="header_nav">
        
        <li class=".header_nav-boxLink"><a class="header_nav-link" href="">Home</a></li>
        <li class=".header_nav-boxLink"><a class="header_nav-link" href="">Sobre mi</a></li>
        <li class=".header_nav-boxLink"><a class="header_nav-link" href="">Servicios</a></li>
        <li class=".header_nav-boxLink"><a class="header_nav-link" href="">Compra</a></li>
        <li class=".header_nav-boxLink"><a class="header_nav-link" href="">Contacto</a></li>
    
    </ul>
</div>

<style>
    *{
        box-sizing: border-box;
    }
    .header{
        width: 100%;
        max-width: 1400px;   
        display: flex;
        justify-content: space-between;
        margin: 20px auto 0px auto;
        padding: 0px 50px;
        /* background-color: red   ;    */         
    }
    .header_boxTitle{
        display: flex;
        place-items: center;
        
    }

    .header_boxTitle-title{
        font-size: 2rem;
    }

    .header_nav{
        display: flex;
        gap:20px;
        justify-content: space-evenly;
        list-style: none;
    }
    .header_nav-boxLink{
        margin: 0px 10px;

    }

    .header_nav-link{
        text-decoration: none;
        font-size: 1.25rem;
    }
    .header_nav-link:hover{
        color:black;
        font-weight: bold;
    }

</style>